@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    background-image: url("../img/background.png");
    background-size:cover;
    background-color: rgb(193, 156, 156);
    margin-top: 7px;
    margin-left: 7px;

}

.menu{

    background-color: blue;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-item{

    color: red;
    text-decoration: none;
    background-color: blue;
    padding: 2rem;
    font-size: 1.8rem;
}

h1{
    color: blue;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-style:italic;
    position:relative;
    text-align: center;
    
}

.titulos{

    padding-top: 0%;
    padding-bottom: 2%;
}

.imgheader{

    height: 7.5rem;
    width: 6.5rem;
}

.cuervopasion {

    text-align: center;
}

.logofooter {

    height: 8rem;
    width: 7rem;
    align-items: center;

}

.imginicio {

    display: flex;
    width: 80%;
    height: 1300px;
}

.footer {

    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(250, 250, 250);
    padding-top: 10%;
}

.contenedor {
    padding-top: 0%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;

    
}

.cancion1 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(76, 76, 150);
    align-content: center;
    
}

.cancion2 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: red;
    align-content: center;
}

.cancion3 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(76, 76, 150);
    align-content: center;
}

.cancion4 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: red;
    align-content: center;
}

.cancion5 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(76, 76, 150);
    align-content: center;
}

.cancion6 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: red;
    align-content: center;
}

input, textarea {
    border: 0
}

.field {
    border: solid 1px #ccc;
    padding: 12px;
    width: 300px;
}

.field:focus {
    border-color: rgb(152, 174, 236);
}

.formcontacto {
    
    display: flex;
    margin: 0 auto;
    background-color: rgb(152, 174, 236);
    padding: 100px;
    width: 600px;
    color: black;
    font-size: 1.8rem;
    border-radius: 10px;
    justify-content: center;
}
