@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    background-image: url("../img/fondosanlo.jpg");
    background-size:cover;
    color: aliceblue;
    margin-left: 7px;

}

h1{
    color: rgb(201, 78, 78);
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-style:italic;
    position:relative;
    text-align: center;   
    margin-top: 30px;
    animation: bounce;
    animation-duration: 2s;
}

h2{
    font-size: 3rem;
    color: rgb(201, 78, 78);
}

/* Texto inicio */
.cuervopasion {

    text-align: center;
}

.logofooter {

    height: 8rem;
    width: 7rem;
    align-items: center;

}

/* Imagen del inicio */
.imginicio {

    display: flex;
    width: 80%;
    height: 1300px;

}

.footer {

    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(250, 250, 250);
    padding-top: 10%;
}

/* Grid en la pestaña de canciones */
.contenedor {
    padding-top: 0%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;

    
}

.cancion1 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(76, 76, 150);
    align-content: center;
    
}

.cancion2 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: red;
    align-content: center;
}

.cancion3 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(76, 76, 150);
    align-content: center;
}

.cancion4 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: red;
    align-content: center;
}

.cancion5 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(76, 76, 150);
    align-content: center;
}

.cancion6 {
    font-family: "Merriweather";
    font-size: 2.7rem;
    border-radius: 2%;
    color: aquamarine;
    text-decoration: none;
    background-color: red;
    align-content: center;
}

/* Elementos del formulario de contacto */
input, textarea {
    border: 0
}

.field {
    border: solid 1px #ccc;
    width: 300px;
}

.field:focus {
    border-color: rgb(152, 174, 236);
}

.btn{
    font-weight: bold;
    color: aliceblue;
    font-size: 30px;
}

.formcontacto {
    
    
    display: flex;
    margin: 0 auto;
    background-image: url("../img/fondosanlo.jpg");
    padding: 100px;
    width: 800px;
    color:aliceblue;
    font-size: 1.8rem;
    border-radius: 10px;
    justify-content: center;
}

/* Fondo del navbar */
.width-bg {
    background-image: url("../img/fondosanlo.jpg");
}

.hero-section {
    background-image: url("../img/fondosanlo.jpg");
    height: 20vh;
}

.margin-section {

    margin-right: 5px;
}

.parrafoidolos {
    width: 100%;
}